<!DOCTYPE html>
<html>
<head>
	<title>WebEng Project</title>
</head>
<body>

	<h1>Log In Form</h1>

	<form method="post" action="../Controller/LoginController.php">
		<input type="text" name="username" placeholder="Enter Username" required><br><br>
		<input type="password" name="password" placeholder="Enter Password" required>
		<select name="userType" id="userType">
			<option value="Teacher">Teacher</option>
			<option value="Student">Student</option>
		</select>
		<br><br>
		<input type="submit" value="Login"><br><br>
	</form>
	
</body>
</html>