<!DOCTYPE html>
<html>
<head>
	<title>Register Here!</title>
</head>
<body>

	<h2>Sign Up</h2>

        <?php
                if(@$_GET["Empty"] == true){
                        echo "<div>".$_GET["Empty"]."</div>"; 
                }

                elseif(@$_GET["UserExists"] == true){
                        echo "<div>".$_GET["UserExists"]."</div>";
        }


        ?>        
	<form action="../Controllers/SignupController.php" method="POST">

		<label>Username</label>
        <input type="text" name="username" placeholder="Enter Your Name Here">
        <br><br>

        <label>Email</label>
        <input type="text" name="email" placeholder="Enter Your Email Here">
        <br><br>

        <label>Password</label>
        <input type="password" name="password">
        <br><br>

        <input type="submit" name="submit">
	</form>

</body>
</html>