/* Slider */
/* For Tutors table */

/*Position of the four dots under the blocks*/
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

}

/* For keeping three blocks at a time*/
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

/* Blocks for tutors*/ 
.slick-slide
{
    float: right;
}
.slick-initialized .slick-slide
{
    display: block;
}
