@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
* {
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
}
/* Styling of SIDE Bar */
.logo{
    position: relative;
    left:40px;
    width:150px;
    }
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    background: linear-gradient(#43cae9 0%, #38f9d7 100%);
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:#ffffff;
    display: block;
}

.sidenav a:hover {
    color: #38f9d7;
    background: #fff;
    text-decoration: none;
}

/* Styling of main content-Create New Tutorials*/
.tut-bg{
    margin-left: 250px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

.tut-header{
  background-image: linear-gradient(to left, #43cae9 0%, #38f9d7 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 50px;
}
label{
    font-family: 'Poppins',sans-serif;
    position: relative;
    left: 0px;
    font-weight: 500;
}

#content{
    position: relative;
    top: -90px;
}
#description{
    position: relative;
    top: -90px;
}

.custom-file-label::after {
  left: 0;
  right: auto;
  border-left-width: 0;
  border-right: inherit;
}

/* Styling of Add Another Paragraph Button */
#add-para-btn{
    display: flex;
    width: 250px;
    color: #ffffff;
    align-items: center;
    border: 2px solid #66FCF1;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;  
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#43cae9 0%, #38f9d7 100%);
    outline: 0;
    
}

/* Styling of Create Button */
#create-btn{
    display: flex;
    width: 100px;
    color: #ffffff;
    align-items: center;
    border: 2px solid #66FCF1;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;  
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#43cae9 0%, #38f9d7 100%);
    outline: 0;
    
}

/* Styling fields */
#title,#para-head,#para-content,#title-desc{
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    height: 15px;
    width: 100%;
    border: 2px solid #CFC6C7;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    border-radius: 10px;
    padding: 20px;
    outline: none;
}

#title-desc,#para-content{
    height: auto;
}


/* Responsive layout */
@media (max-width: 800px){
    #title,#para-head,#para-content,#title-desc{
        flex: 100%;
    }
}





