/* Provides the icons at the particular position*/

@font-face {
  font-family: 'LineIcons';

  src: 

    url('../fonts/LineIcons.ttf?y2l643') format('truetype'),

    url('../fonts/LineIcons.svg?y2l643#LineIcons') format('svg'); 
}


/*keeping the shape of the icons*/
[class^="lni-"], [class*=" lni-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LineIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;

  /* Better Font Rendering =========== */

  -moz-osx-font-smoothing: grayscale;
}  


/*Provides menu bar icon*/
.lni-menu:before {
  content: "\eab8";
  text-decoration: none;
}

/*Provides close icon*/
.lni-close:before {
  content: "\e951";
}

/*left and right arrows position*/
.lni-arrow-left-circle:before {
  content: "\ea50";
}
.lni-arrow-right-circle:before {
  content: "\ea51";
}
.lni-arrow-up-circle:before {
  content: "\ea52";
}
.lni-angle-double-down:before {
  content: "\ea53";
}
.lni-angle-double-left:before {
  content: "\ea54";
}
.lni-angle-double-right:before {
  content: "\ea55";
}
.lni-angle-double-up:before {
  content: "\ea56";
}
.lni-arrow-top-left:before {
  content: "\ea57";
}
.lni-arrow-top-right:before {
  content: "\ea58";
}

/*left and right circle position*/
.lni-chevron-down-circle:before {
  content: "\ea59";
}
.lni-chevron-left-circle:before {
  content: "\ea5a";
}
.lni-chevron-right-circle:before {
  content: "\ea5b";
}
.lni-chevron-up-circle:before {
  content: "\ea5c";
}
 