/* Provides the icons at the particular position*/

@font-face {
  font-family: 'LineIcons';
  src:  url('../fonts/LineIcons.eot?y2l643');
  src:  url('../fonts/LineIcons.eot?y2l643#iefix') format('embedded-opentype'),
    url('../fonts/LineIcons.ttf?y2l643') format('truetype'),
    url('../fonts/LineIcons.woff?y2l643') format('woff'),
    url('../fonts/LineIcons.svg?y2l643#LineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="lni-"], [class*=" lni-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'LineIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.lni-menu:before {

  content: "\eab8";

}

.lni-close:before {
  content: "\e951";
}


/*left and right circle position*/
.lni-chevron-up:before {
  content: "\ea43";
}
.lni-chevron-left:before {
  content: "\ea44";
}
.lni-chevron-down:before {
  content: "\ea45";
}
.lni-chevron-right:before {
  content: "\ea46";
}
.lni-arrow-down:before {
  content: "\ea47";
}
.lni-arrows-horizontal:before {
  content: "\ea48";
}
.lni-arrows-vertical:before {
  content: "\ea49";
}
.lni-direction:before {
  content: "\ea4a";
}
.lni-arrow-left:before {
  content: "\ea4b";
}
.lni-arrow-right:before {
  content: "\ea4c";
}
.lni-arrow-up:before {
  content: "\ea4d";
}
.lni-arrow-down-circle:before {
  content: "\ea4e";
}
.lni-anchor:before {
  content: "\ea4f";
}
.lni-arrow-left-circle:before {
  content: "\ea50";
}
.lni-arrow-right-circle:before {
  content: "\ea51";
}
.lni-arrow-up-circle:before {
  content: "\ea52";
}
.lni-angle-double-down:before {
  content: "\ea53";
}
.lni-angle-double-left:before {
  content: "\ea54";
}
.lni-angle-double-right:before {
  content: "\ea55";
}
.lni-angle-double-up:before {
  content: "\ea56";
}
.lni-arrow-top-left:before {
  content: "\ea57";
}
.lni-arrow-top-right:before {
  content: "\ea58";
}
.lni-chevron-down-circle:before {
  content: "\ea59";
}
.lni-chevron-left-circle:before {
  content: "\ea5a";
}
.lni-chevron-right-circle:before {
  content: "\ea5b";
}
.lni-chevron-up-circle:before {
  content: "\ea5c";
}
 

.lni-github-original:before {
  content: "\ea73";
}