
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

/*position of tutor's image*/
.img1 {
  max-width: 100%; }


/*position of about image*/
.img3 {
  max-width: 100%;
  border-radius: 30px;
   }

/*size of logo image*/
.img4  {
width: 90px;
height: 70px;
}

/*admin page text*/
.admin-rights{
  color: white;
}
.admin-main{
  margin-top: 100px;
  padding: 40;
  margin-left: 100px;
}

.admin-line{
  float: left;
}

/*margin of right table headings*/
ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }



/*Tutor heading*/
.section-title .title {
  font-size: 44px;
  font-weight: 500;
  color: black;
  line-height: 55px; }


  /*Tutor sub paragraph*/
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 30px;
      line-height: 35px; } }
.section-title .text {
  font-size: 16px;
  line-height: 24px;
  color: #6c6c6c;
  margin-top: 24px; }




           /*picture on the student profile*/
          .big-image {
          height: 100vh;
          width: 100vw;
          position: relative;
          background-size: cover;
          background-position: 50% 50%;
          background-image: url("https://imagefinder.co/storage/w1000/images/2019/02/pixabay_student-849821_960_720.jpg");
          }
          
          .overlay1{
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            color: white;
            background: rgba(0,0,0,0.65); 
            display: flex;
            align-items: left;
            justify-content: center;
            flex-direction: column;

          }

            /*Text on the picture of student profile*/
          .text {
            font-size: 1.5em;
            margin-bottom: 50px;
            padding: 40px;
            color: white;
          }
   
   /*For button on the student profile page*/
          .main-btn {
            display: inline-block;
            font-weight: 700;
            text-align: center;
            white-space: nowrap;
            user-select: none;
            border: 2px solid transparent;
            padding: 5px 32px;
            font-size: 1.2em;
            line-height: 46px;
            top: 50%;
            left: 20%;
            color: #666;
            cursor: pointer;
            position: absolute;
             }
  @media (max-width: 1200px) {
          .main-btn {
            font-size: 14px;
            line-height: 40px; } }

   /*===== Rounded Buttons =====*/
          .rounded-buttons ul li {
            display: inline-block;
            margin-top: 20px; }
  @media (max-width: 1200px) {
          .rounded-buttons ul li {
            margin-left: 0px; } }
          .rounded-buttons ul li:first-child {
            margin-left: 0px; }
          .rounded-buttons .main-btn {
            border-radius: 50px; }
          .rounded-buttons .rounded-one {
            border-color: #38f9d7;
            color: #38f9d7;
            margin-top: 100px;
            }
          .rounded-buttons .rounded-two {
            border-color: #38f9d7;
            color: #38f9d7;
            margin-left: 400px;
            margin-top: 100px;
            }
          .rounded-buttons .rounded-one:hover {
            background-color: rgba(56, 249, 215, 0.4); 
            text-decoration: none;
          } 
          .rounded-buttons .rounded-two:hover {
            background-color: rgba(56, 249, 215, 0.4); 
            text-decoration: none;
          } 


      /* ABOUT heading */ 

.about-area {
  position: relative;
  background-color: #f4f6f7;
  padding-top: 100px;
  padding-bottom: 100px; }
  .about-area .section-title .title {
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    color: #121212; }
    @media (max-width: 767px) {
      .about-area .section-title .title {
        font-size: 22px;
        line-height: 32px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .about-area .section-title .title {
        font-size: 28px;
        line-height: 38px; } }
  .about-area .section-title .text {
    font-size: 20px;
    line-height: 25px;
    color: #121212;
    margin-top: 8px; }
    @media (max-width: 767px) {
      .about-area .section-title .text {
        font-size: 16px; } }

.single-about .about-icon img {
  width: 120px; }
  @media (max-width: 767px) {
    .single-about .about-icon img {
      width: 100px; } }
.single-about .about-content {
  padding-left: 30px; }
  @media (max-width: 767px) {
    .single-about .about-content {
      padding-left: 0;
      padding-top: 30px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-about .about-content {
      padding-left: 30px;
      padding-top: 0; } }
  .single-about .about-content .about-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #121212; }
  .single-about .about-content .text {
    font-size: 16px;
    color: #121212;
    margin-top: 16px; }

/* ABOUT second row */
.about-area-2 {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px; }
  .about-area-2 .about-image {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-area-2 .about-image {
        width: 34%; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .about-area-2 .about-image {
        position: relative;
        width: 720px;
        margin: 0 auto; } }
    @media (max-width: 767px) {
      .about-area-2 .about-image {
        position: relative;
        width: 100%;
        padding-left: 15px;
        padding-right: 16px;
        margin: 0 auto; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .about-area-2 .about-image {
        position: relative;
        width: 540px;
        margin: 0 auto; } }
    .about-area-2 .about-image .image {
      max-width: 580px;
      width: 100%; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .about-area-2 .about-image .image {
          margin: 0 auto;
          padding-top: 50px; } }
      @media (max-width: 767px) {
        .about-area-2 .about-image .image {
          margin: 0 auto;
          padding-top: 50px; } }
      .about-area-2 .about-image .image img {
        width: 100%; }

.about-content-2 {
  position: relative;
  z-index: 9; }
  .about-content-2 .about-icon i {
    font-size: 64px;
    color: #38f9d7; }
  .about-content-2 .about-content {
    padding-left: 15px; }
    @media (max-width: 767px) {
      .about-content-2 .about-content {
        padding-left: 0;
        padding-top: 15px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .about-content-2 .about-content {
        padding-left: 15px;
        padding-top: 0; } }
    .about-content-2 .about-content .about-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      color: #121212; }
    .about-content-2 .about-content .text {
      font-size: 14px;
      line-height: 20px;
      color: #121212;
      margin-top: 8px; }


/* ABOUT third row */
.about-area-3 {
  background-color: #f4f6f7;
  padding-top: 50px;
  padding-bottom: 100px; }
  .about-area-3 .image {
    width: 100%; }
  .about-area-3 .about-content .sub-title {
    color: #121212;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-area-3 .about-content .sub-title {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .about-area-3 .about-content .sub-title {
        font-size: 20px; } }
  .about-area-3 .about-content .about-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 55px;
    color: #121212;
    margin-top: 16px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-area-3 .about-content .about-title {
        font-size: 38px;
        line-height: 45px; } }
    @media (max-width: 767px) {
      .about-area-3 .about-content .about-title {
        font-size: 32px;
        line-height: 35px; } }
  .about-area-3 .about-content .text {
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;
    line-height: 25px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-area-3 .about-content .text {
        font-size: 18px; } }
    @media (max-width: 767px) {
      .about-area-3 .about-content .text {
        font-size: 16px;
        line-height: 24px; } }
  .about-area-3.about-area-bg-3 {
    background-color: #fff; }


/* Tutors heading*/
.testimonial-area {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color: #f4f6f7; }

.testimonial-2 {
  background-color: #fff; }

.single-testimonial {
  background-color: #fff;
  padding: 30px;

  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1); }
  .single-testimonial .testimonial-image img {
    width: 90px;
    border-radius: 50%;
    display: inline-block; }
  .single-testimonial .testimonial-content {
    padding-top: 25px; }
    .single-testimonial .testimonial-content .text {
      font-size: 16px;
      line-height: 24px;
      color: #121212;
      border-bottom: 1px solid #cbced1;
      padding-bottom: 24px; }
    .single-testimonial .testimonial-content .author-name {
      font-size: 18px;
      font-weight: 600;
      color: #121212;
      margin-top: 24px; }
    .single-testimonial .testimonial-content .sub-title {
      font-size: 14px;
      line-height: 24px;
      color: #a4a4a4; }

.testimonial-active-2 .slick-dots,
.testimonial-active .slick-dots {
  text-align: center; }
  .testimonial-active-2 .slick-dots li,
  .testimonial-active .slick-dots li {
    display: inline-block;
    margin: 0 3px; }
    .testimonial-active-2 .slick-dots li button,
    .testimonial-active .slick-dots li button {
      font-size: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #cbced1;
      border: 0;
      cursor: pointer; }
    .testimonial-active-2 .slick-dots li.slick-active button,
    .testimonial-active .slick-dots li.slick-active button {
      background-color: #38f9d7; }

.single-testimonial-4 {
  border: 2px solid #cbced1;
  padding: 25px 30px;
  border-radius: 8px;
  background-color: #fff; }
  .single-testimonial-4 .testimonial-author .author-image img {
    width: 80px;
    border-radius: 50%; }
  .single-testimonial-4 .testimonial-author .author-name {
    padding-left: 20px; }
    @media (max-width: 767px) {
      .single-testimonial-4 .testimonial-author .author-name {
        padding-left: 0;
        padding-top: 15px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .single-testimonial-4 .testimonial-author .author-name {
        padding-left: 20px;
        padding-top: 0; } }
    .single-testimonial-4 .testimonial-author .author-name .name {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: #121212; }
    .single-testimonial-4 .testimonial-author .author-name .sub-title {
      font-size: 14px;
      line-height: 24px;
      color: #a4a4a4; }
  .single-testimonial-4 .testimonial-text {
    margin-top: 25px; }
    .single-testimonial-4 .testimonial-text .text {
      font-size: 14px;
      line-height: 24px;
      color: #121212; }

.testimonial-active-4 .slick-dots {
  text-align: center;
  margin-top: 25px; }
  .testimonial-active-4 .slick-dots li {
    display: inline-block;
    margin: 0 3px; }
    .testimonial-active-4 .slick-dots li button {
      font-size: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #cbced1;
      border: 0;
      cursor: pointer; }
    .testimonial-active-4 .slick-dots li.slick-active button {
      background-color: #38f9d7; }

/*background picture on the teacher profile*/
.teacher-big-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("https://imagefinder.co/storage/w1000/images/2019/02/pixabay_computer-768608_960_720.jpg");
}
          
.teacher-overlay1{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -10px;
    color: white;
    background: rgba(0,0,0,0.65); 
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

/*Text on the picture of teacher profile*/
.text h1{
    font-size: 40px;  
    position: relative;
    top: 0px;
}



/* teacher profile btn styles */
.btn {
  background-color: #43cae9;
  color: #fff;
  min-width: 160px;
  font-size: 1.3rem;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 15px;
  border: 2px solid #1F2833;
  font-weight: 500;
  vertical-align: middle;
  margin: 5px;
  align-items:center;
  position: relative;
  left: 40px;
}
.btn:hover {
  background-color: #43cae9;
  border: 2px solid transparent;
  text-decoration: none;
  color: #38f9d7;
}




/* Login Page Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
        
.login-bg-img{
    background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.login-bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
        
.login-box{
    position: absolute;
    top: 60%;
    left: 48%;
    text-align: center;
    z-index: 999;
    padding: 60px 32px;
    width: 400px;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
        
.login-box header{
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
    border-bottom: 4px solid #fff;
}
               
.login-type{
    text-align: left;
    width: 100%;
    height:45px;
    position: relative;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    background: transparent;
    color: #fff;
}
.field{
    position: relative;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}

.login-btn button[type="submit"]{
    display: flex;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    letter-spacing: 1em;
    border: 2px solid #66FCF1;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;  
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#43cae9 0%, #38f9d7 100%);
}

.login-btn button[type="submit"]:hover{
    background:  #43cae9;
}

.log-register{
    font-size: 15px;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.log-register a{
    color: #66FCF1;
    text-decoration: none;
}
.log-register a:hover{
    text-decoration: underline;
}

/* Registration Part Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
        
body{
  background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG9ubGluZSUyMGxlYXJuaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main-register-form{
  width: 600px;
  margin: 200px auto 0px auto;
}

h2{
  color: white;
  text-align: center;
  font-size: 33px;
  font-weight: 600;
  margin: 60px 0 35px 0;
  font-family: 'Montserrat',sans-serif;
  border-bottom: 4px solid #fff;
}

.register{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  color:#fff;
}

#register{
  margin: 40px;
}

label{
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
}

#name,#password{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}

label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.reg-btn button[type="submit"]{
    display: flex;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    letter-spacing: 1.5em;
    border: 2px solid #66FCF1;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;  
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#43cae9 0%, #38f9d7 100%);
}

.reg-btn button[type="submit"]:hover{
    background:  #43cae9;
}

#login{
    font-size: 16px;
    color: white;
    font-family: 'Poppins',sans-serif;
}

#login a{
    color: #66FCF1;
    text-decoration: none;
}
        
#login a:hover{
    text-decoration: underline;
}

/* FOOTER CSS*/
.site-footer
{
  background-color: grey;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;  
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:black;
} 
.site-footer a:hover
{
  color:black;
  text-decoration:none;
}

.copyright-text
{
  margin-left:400px;
}

