@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
* {
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
/* Styling of SIDE Bar */
.logo{
      position: relative;
      left:40px;
      width:150px;
    }
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; 
    background: linear-gradient(#43cae9 0%, #38f9d7 100%);
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:#ffffff;
    display: block;
}

.sidenav a:hover {
    color: #38f9d7;
    background: #fff;
    text-decoration: none;
}

/* Styling of main content-Create New Tutorials*/
.tut-bg{
    margin-left: 250px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}
.main-tut-header{
    color: black;
    padding: 0px 10px;
}
#tut-header{
    font-family: 'Montserrat',sans-serif;
    font-size: 45px;
    padding:30px 0;
    color: #1F2833;
    border-bottom: 2px solid #66FCF1;
    border-top: 2px solid #66FCF1;
    text-align: center;
    background-image: linear-gradient(to left, #43cae9 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
label{
    font-family: 'Poppins',sans-serif;
    position: relative;
    left: 0px;
    font-weight: 500;
}

#content{
    position: relative;
    top: -90px;
}

/* Basic styling for Basic Dropdown list */
.category-select-wrapper {
    position: relative;
    width: 980px;
    user-select: none;
}
.category-select {
    position: relative;
    top: -40px;
    left: 250px;
    display: flex;
    flex-direction: column;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #66FCF1;
}
.category-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    background: #1F2833;
    cursor: pointer;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #66FCF1;
}
.category-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #66FCF1;
    border-top: 0;
    background: #C5C6C7;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.category-select.open .category-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.category-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 18px;
    font-weight: 300;
    color:  #ffffff;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.category-option:hover {
    cursor: pointer;
    background-color: #1F2833;
}
.category-option.selected {
    color: #ffffff;
    background-color: #1F2833;
}
/* CSS for dropdown arrow */
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color:  #66FCF1;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #66FCF1;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

/* Styling of Add Another Paragraph Button */
#add-para-btn{
    position: static;
    width: 220px;
    color: #ffffff;
    display: flex;
    background: #1F2833;
    height: 50px;
    text-align: center;
    border: 2px solid #66FCF1;
    border-radius: 15px;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

/* Styling of Create Button */
#create-btn{
    position: static;
    width: 100px;
    color: #ffffff;
    display: flex;
    background: #1F2833;
    height: 50px;
    align-items: center;
    border: 2px solid #66FCF1;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;  
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#title,#para-head{
    position: relative;
    left: 210px;
    height: 40px;
    width: 980px;
    border: 2px solid #66FCF1;
    font-family: 'Poppins',sans-serif;
    border-radius: 15px;
    padding: 20px;
}
#para-head{
    position: relative;
    left: 75px;
}
#para-content{
    position:relative;
    left: 180px;
    top: 35px;
    height: 150px;
    width:980px;
    border: 2px solid #66FCF1;
    font-family: 'Poppins',sans-serif;
    border-radius: 15px;
    padding: 20px;
}
