<!DOCTYPE html>
<html>
<head>
	<title>WebEng Project</title>
</head>
<body>

	<h1>Web Engneering Project</h1>
	<h3>Team Babloo Gang</h3>

	<h4>Group Members:</h4>
	<ul>
		<li>Abdul Rafey</li>
		<li>Laraib Arjamand</li>
		<li>Ghazala Bibi</li>
		<li>Fatima Khalid</li>
	</ul>

	<p>Clone the Gitub repository from <a href="https://github.com/Guyroscopic/WebEngineering_Project" target=_blank>here</a>, make some additions to this 'index.html' file, commit the changes and reload this website to see the changes</p>

	<!-- Start Additional Tags here --> 
	<p>Additional paragraph++ by Rafey</p> 
	
</body>
</html>
